.link{
        color: blue;
        text-decoration: underline;
}
.imgOrder{
        border: 7vw solid black;
        border-radius: 9rem;
}
.creditCard{
        background-color:lightsteelblue;
}
.order{
        border: 2px solid black;
        width: 70vw;
        position: relative;
        margin-right: 10rem;
}