.product-list{   
    display: flex;
    flex-wrap: wrap;
    justify-content: normal;
    position: relative;
    top: 5rem;
    margin-right: 102px;
}
.container{
    /* border:2px solid rgb(160, 138, 15); */
    /* border-radius: 24px; */
    width: 23vw; 
    margin: 5px;
    text-align: center;
}
body ,html{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
/* h1 , h3{
    text-align: center;
   font-size: xx-large;
   color: rgb(56, 54, 54);
} */
/* p{
    color:#412e17;
    font-weight: 300px;
} */
input[type=button] {
    margin: 5px;
    width: 85px;
    height: 30px;
    /* text-align: center; */
    /* background-color: rgb(192, 168, 97); */
    /* color: white; */
    font-weight: bolder;
    font-size: medium;
  }

.searchButton{
    position:relative;
    right:72rem;
    bottom: 12.7rem;
}
.selectButton{
    /* display: flex; */
    /* flex-wrap: wrap; */
    position:relative;
    right:53rem;
    bottom: 12rem;
}


.search{
position: relative;
right:60rem;
bottom:3.5rem;
}