.product-list{   
    display: flex;
    flex-wrap: wrap;
    justify-content: normal;
    position: relative;
    top: 5rem;
    margin-right: 102px;
}
.container{
    width: 23vw; 
    margin: 5px;
    text-align: center;
}
body ,html{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.searchButton{
    position:relative;
    right:72rem;
    bottom: 12.7rem;
}
.selectButton{
    position:relative;
    right:53rem;
    bottom: 12rem;
}
.filterButton{
    position:relative;
    right: 4rem;
    top: 4rem;
}
.search{
position: relative;
right:60rem;
bottom:3.5rem;
}