.wishesList {
    margin-right: 2rem;
    margin-top: 2rem;
    width: 55vw;
}
.bigDiv{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.emptyMessage {
    font-size: large;
    text-align: center;
}

.bunner {
    margin-top: 2rem;
    flex: auto;
    margin-right: 5.5rem;
    text-align: center;
    width: 28vw;
    height: 36vh;
    margin-left: 2rem;
}