.rating{
    border: 2px solid black;
    border-radius: 6px;
    width:17rem;
}
.div-border{
    width: 16rem;
    height: 13.5rem;
    border-radius: 10px;
    text-align: center;
    background-color: lightgray;
}
.container-category{
    width: 25vw; 
    padding: 2rem;
}
.secondHeader{
    margin-right: 1.2rem;
}
.div-container{
    width: 14rem;
    height: 11rem;
    align-items: center;
    position: relative;
    border-radius: 10px;
    right:1rem;
    top:0.5rem;
    background-color: white;
}

.div-images {
    border: lightgray solid;
    width: 14rem;
    height: 11rem;
    margin: 1.5rem;
    text-align: center;
}
.add-img{
    width: 13.7rem;
    height: 7.7rem;
}
.editForm{
    width: 75vw;
    margin: auto;
    margin-top: 2rem;
}
.detailsAttraction{
    display:flex;
    flex-wrap: wrap;
}
.container-details2{
   width: 30vw;
}
.equipmentAttraction{
   width:50vw;
   display: flex;
   flex-wrap: wrap;
}
.equipment-container{
    width:15vw;
    margin:0.5rem;
    padding: 0.5rem;
}
.equipment-img{
    width: 18vw;
    position: absolute;
    bottom: -18rem;
    right:57rem;
}
.spanTimes{
    margin-top:"1rem";
     margin-right:"2rem";
      margin:"1rem"
}