*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100vh;
}

body{
  direction: rtl;
  background-color: white;
  margin: 0;
}

.img-logo{
  height:30vh;
  width:20vw;
  display:flex;
  position:relative;
  text-align: center;
  left:-20rem;
  bottom: 7rem;
}
.MuiButtonBase-root{
  display: none;
}
.head{
  position: relative;
  top: 3rem;
}
header{
  background-color: white;
  height:20vh;
  font-family: 'Agency FB';
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  /* position: relative; */
  margin: auto;
  /* margin-top: 3rem; */
  /* color:#3b81af; */

}
body{
  background-color: #f7f7f8;
  /* background-color: #fdf9c5; */
}