body{
  direction: rtl;
  /* text-align: center;  */
  background-color: white;
}
/*
.logo{
  width: 15vw;
  height: 15vh;
  position: relative;
  right:3rem;
}*/

.img-logo{
  height:30vh;
  width:20vw;
  display:flex;
  position:relative;
  text-align: center;
  left:-20rem;
  bottom: 7rem;
}
footer{
  background-color: black;
  color: white;
  text-align: center;
  position: relative;
  bottom: -30rem;
}
.head{
  position: relative;
  top: 3rem;
}
header{
  background-color: white;
  height:20vh;
  font-family: 'Agency FB';
  font-size: xx-large;
  text-align: center;
  position: relative;
  margin: auto;
  /* margin-top: 3rem; */
  /* color:#3b81af; */

}
body{
  background-color: #f7f7f8;
}