.location {
    position: relative;
    top: 3rem;
    border: 2px lightblue solid;
    background-color: white;
    width: 30vw;
    align-items: center;
    text-align: center;
    padding: 2%;
    margin: auto;
    border-radius: 20px;
}

.move {
    color: blue;
}
.MuiTextField-root{
right:auto;
}
