.location {
    position: relative;
    top: 3rem;
    border: 2px lightblue solid;
    background-color: white;
    width: 30vw;
    align-items: center;
    text-align: center;
    padding: 2%;
    margin: auto;
    border-radius: 20px;
}

.move {
    color: blue;
}
.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root{
left:auto;
}
/* .error{
    color:"red";
    direction:"rtl";
} */